<template lang="pug" src="./Convertor.pug"></template>

<script>
  export default {
    beforeCreate () {
      this._data = {
        svgCode: ''
      }
    },
    mounted () {
      this.$refs.input.onload = this.inputRendered
    },
    methods: {
      sanitize (input) {
        let regExp = /(\"|\'|&quot;)data:image([^)]+)(\"|\'|&quot;)/
        let matches = regExp.exec(input)
        if (matches && matches[2]) {
          return 'data:image' + matches[2]
        } else {
          return input
        }
      },
      renderSVGCode () {
        try {
          this.$refs.input.src = this.sanitize(this._data.svgCode)
        } catch (e) {
          console.log(e)
        }
      },
      inputRendered () {
        let canvas = this.$refs.canvas
        let input = this.$refs.input
        let output = this.$refs.output
        canvas.width = input.width
        canvas.height = input.height
        let ctx = canvas.getContext('2d')
        ctx.drawImage(input, 0, 0)
        let png = canvas.toDataURL("image/png")
        output.src = png
      }
    },
    data () {
      return this._data
    }
  }
</script>

<style lang="sass" src="./Convertor.sass"></style>