article(id='convertor')
  h1 SVG-to-PNG Convertor

  div(class='from')
    section(class='code')
      div(class='content')
        textarea(v-on:change='renderSVGCode()' v-on:keyup='renderSVGCode()' v-model='svgCode' placeholder='Enter STRING that contains "data:image/"' onclick="this.focus();this.select()")

  h2(v-if='svgCode') ↓
  div(class='to' v-if='svgCode')
    section
      div( class='content output')
        img(ref='output')


  h3 Handy Links
  div(class='links')
    ul(class='content')
      li
        a(href='https://thenounproject.com/' target='_blank') https://thenounproject.com/
      li
        a(href='https://icons8.com/' target='_blank') https://icons8.com/


  div(class='preload')
    img(src='/images/bg.jpg')
    img(ref='input')
    canvas(ref='canvas')