article#convertor

  section
    $pad: 1em
    position: relative
    width: 100vw
    .content
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      margin: 1em

      border: 1px dashed #73abfd
      border-radius: 0.5em
    &.code
      .content
        textarea
          position: absolute
          top: 0.5em
          left: 0.5em
          right: 0.5em
          bottom: 0.5em
          resize: none
          width: 98%
          border: none
          color: #606875
          font-family: 'Avenir', Helvetica, Arial, sans-serif
          font-size: 0.6em
          background: transparent

  h1, h2, h3
    text-align: center
    font-weight: bold
    font-size: 2em
    margin: 1em 0
  h2
    margin: 0.5em 0 1em 0
  h3
    font-size: 1.1em

  .from
    section
      height: 20vh

  .to
    section
      .content
        border-style: solid
        position: relative
        padding: 0.5em
        text-align: center
        &.info
          background: #ececec
          padding: 2em
        &.output
          background: url("/images/bg.jpg")
          background-size: 10%
          img
            height: 400px

  .links
    margin: 1em 0
    text-align: center

  .preload
    visibility: hidden
    width: 1px
    height: 1px
    position: absolute
    overflow: hidden