<template>
  <div id="app">
    <convertor />
  </div>
</template>

<script>
import Convertor from './components/Convertor'

export default {
  name: 'app',
  components: {
    Convertor
  }
}
</script>

<style lang="scss" src="./components/_reset.scss"></style>

<style lang="sass" src="./App.sass"></style>
