body
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #606875
  margin-bottom: 4em

  a
    color: #606875
    &:hover
      color: #73abfd